@using Payroll.Shared.DTO
@inject NavigationManager NavigationManager

<!-- TODO: EditForm doesn't seem to be validating based on the annotations as expected -->
<EditForm Model="@Employee" OnValidSubmit="Save">
    <!-- TODO: manual validation, enable/disable button -->
    <DataAnnotationsValidator />
    <ValidationSummary />

    Name: <InputText id="name" @bind-Value="Employee.Name" />
    <br />
    Salary: <InputNumber id="salary" @bind-Value="Employee.AnnualSalary" />
    <br />

    @if (Employee.Spouse != null)
    {
        <text>Spouse: </text><InputText id="spouse" @bind-Value="Employee.Spouse.Name" /> <button type="button" @onclick="@RemoveSpouse">🚫</button>
    }
    else
    {
        <button type="button" @onclick="@AddSpouse">Add Spouse</button>
    }
    <br />

    @if (Employee.Children.Any())
    {
        <p>Dependents</p>
    }
    @for (int i = 0; i < Employee.Children.Count; i++)
    {
        <!-- closures!! -->
        var j = i;
        <InputText @key="@Employee.Children[j]" @bind-Value="Employee.Children[j].Name" /> <button type="button" @onclick="@(() => RemoveDependent(j))">🚫</button>
        <br />
    }
    <button type="button" @onclick="@AddDependent">Add Dependent</button>
    <br />

    <button type="button" @onclick="@Cancel">Cancel</button>
    <button type="submit">Save &amp; return</button>
</EditForm>

@code {
    [Parameter]
    public EmployeeDto Employee { get; set; } = null!;
    [Parameter]
    public EventCallback OnCancel { get; set; }
    [Parameter]
    public EventCallback<EmployeeDto> OnSave { get; set; }

    private void AddSpouse()
    {
        if (Employee.Spouse != null) return;
        Employee.Spouse = new DependentDto();
    }

    private void RemoveSpouse()
    {
        Employee.Spouse = null;
    }

    private void AddDependent()
    {
        Employee.Children.Add(new DependentDto());
    }

    private void RemoveDependent(int index)
    {
        if (index >= Employee.Children.Count || index < 0) return;
        Employee.Children.RemoveAt(index);
    }

    private Task Save()
    {
        return OnSave.InvokeAsync(Employee) ?? Task.CompletedTask;
    }

    private Task Cancel()
    {
        return OnCancel.InvokeAsync(null) ?? Task.CompletedTask;
    }
}
