@page "/edit-employees"
@using Payroll.Data.Services
@using Payroll.Data.Models 
@inject IDataService DataService
@inject NavigationManager NavigationManager 

<h3>Edit Employees</h3>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Employees)
        {
            <tr @key="@employee">
                <td>@employee.Name</td>
                <td @onclick="@(() => EditEmployee(employee))">📝</td>
                <td @onclick="@(() => DeleteEmployee(employee))">🚫</td>
            </tr>
        }
    </tbody>
</table>
<button @onclick="@AddEmployee">Add Employee</button>

@code {
    private List<Employee> Employees { get; set; } = default!;

    protected override void OnInitialized()
    {
        Employees = DataService.GetEmployees().ToList();
        base.OnParametersSet();
    }

    private void EditEmployee(Employee employee)
    {
        if (employee.Id == null) return;
        NavigationManager.NavigateTo($"/edit-employee/{employee.Id.Value}");
    }

    private void DeleteEmployee(Employee employee)
    {
        if (employee.Id == null) return;
        try
        {
            DataService.DeleteEmployee(employee);
            Employees.Remove(employee);
        }
        catch (Exception)
        {
            // ErrorTodo
        }
    }

    private void AddEmployee()
    {
        NavigationManager.NavigateTo("/new-employee");
    }
}
